<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506764081004-j53hhkfhc6b3t8qg3atiehtshcr1bgio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506764081004-j53hhkfhc6b3t8qg3atiehtshcr1bgio</string>
	<key>API_KEY</key>
	<string>AIzaSyDyizCFfyqz4j0op6W6mtYWMJckMZBMOtI</string>
	<key>GCM_SENDER_ID</key>
	<string>506764081004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erensirin.SanalEcza</string>
	<key>PROJECT_ID</key>
	<string>sanalecza</string>
	<key>STORAGE_BUCKET</key>
	<string>sanalecza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506764081004:ios:9956739d390ef29deaa549</string>
</dict>
</plist>